fastapi==0.112.2
langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.37
langchain-experimental==0.0.64
langchain-groq==0.1.9
langchain-ollama==0.1.3
langgraph==0.2.15
langsmith==0.1.108
ollama==0.3.2
groq==0.10.0
pydantic==2.8.2
pymongo==4.8.0
python-dotenv==1.0.1
uvicorn==0.30.6