fastapi==0.112.2
ollama==0.3.2
groq==0.10.0
pydantic==2.8.2
python-dotenv==1.0.1
uvicorn==0.30.6

llama-cloud==0.0.17
llama-index==0.11.7
llama-index-agent-openai==0.3.1
llama-index-cli==0.3.0
llama-index-core==0.11.7
llama-index-embeddings-openai==0.2.4
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-llms-groq==0.2.0
llama-index-llms-ollama==0.3.1
llama-index-llms-openai==0.2.3
llama-index-llms-openai-like==0.2.0
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.1
llama-index-readers-llama-parse==0.3.0
llama-index-utils-workflow==0.2.1
llama-parse==0.5.2