.container {
	display: flex;
	height: 10rem;
	width: 8rem;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 20px;
	align-items: center;
	padding: 1rem;
	background-color: #181622;
	&:hover{
		background-color: #201e2a;
	}
}

.feature_text{
	font-size: 1rem;
	color: #181622;
	
}

.icon_box{
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.icon{
	font-size: 2rem !important;
	color: grey;
}
