.promptField {
  width: 45rem;
  bottom: 2rem;
  left: 20%;
  margin: 0 auto!important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #e9eef6;
  padding: 10px 20px;
  border-radius: 50px;
  position: fixed !important;
  left: 50%;
  transform: translate(-50%);
}

.promptField input{
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.MuiTextField-root {
  border-radius: 20px !important;
  border-radius: 32px;
  padding: 4px 8px;
  box-shadow: inset 0 0 0 1px transparent;
}

.icon {
  color: #fff !important;
}
