.promptField {
  width: 45rem;
  position: fixed !important;
  bottom: 1.5rem;
  margin: 0 auto !important;
}

.MuiTextField-root {
  border-radius: 20px !important;
  border-radius: 32px;
  padding: 4px 8px;
  box-shadow: inset 0 0 0 1px transparent;
}

.icon {
  color: #fff !important;
}
