llama-cloud==0.0.17
llama-deploy==0.1.3
llama-deploy[redis]
llama-index==0.11.7
llama-index-cli==0.3.0
llama-index-core==0.11.7
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-readers-file==0.2.1
llama-index-readers-llama-parse==0.3.0
llama-index-utils-workflow==0.2.1
llama-parse==0.5.2